body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  font-size: 15px; /* for example */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sticky-table-header{
  position: sticky;top: 0
}

.form-label{
  margin-bottom: 0.2rem!important;
}

.frontpage-img1{
  width: 100%;
  height: 100%;
  max-width: 22rem;
}
.frontpage-img2{
  width: 100%;
  height: 100%;
  max-width: 42rem;
}

.details-row{
  background-color: #f8f9fa;
}
.details-row:hover{
  background-color: #f8f9fa!important;
  --bs-table-hover-bg: rgba(0, 0, 0, 0);
}
.table-hover>tbody>tr.details-row:hover {
  background-color: #f8f9fa;
}